<p id="notice"><%= notice %></p>
<table class="responstable">
  <tr>
    <th><strong>Customer</strong></th>
    <th><%= @booking.customer.name %></th>
  </tr>
  <tr>
    <td><strong>Pack</strong></td>
    <td><%= @booking.pack.name %></td>
  </tr>
  <tr>
    <td><strong>No of pack</strong></td>
    <td><%= @booking.no_of_pack %></td>
  </tr>
  <tr>
    <td><strong>Amount</strong></td>
    <td><%= @booking.amount %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<% unless @schedules %>
  <%= link_to 'Schedule', new_schedule_path(appointments: @appointments, customer: @booking.customer.id, pack: @booking.pack.id, booking: @booking.id) %>
<% end %>
<%= link_to 'Back', bookings_path %>

