<p id="notice"><%= notice %></p>
<table class="responstable">
  <tr>
    <th><strong>Customer</strong></th>
    <th><%= @schedule.customer.name %></th>
  </tr>
  <tr>
    <td><strong>Customer Contact Number</strong></td>
    <td><%= @schedule.customer.contact_number %></td>
  </tr>
  <tr>
    <td><strong>Customer Address</strong></td>
    <td><%= @schedule.customer.address %></td>
  </tr>
  <tr>
    <td><strong>Booking ID</strong></td>
    <td><%= link_to @schedule.booking.id, booking_path(@schedule.booking) %></td>
  </tr>
  <tr>
    <td><strong>Pack</strong></td>
    <td><%= @schedule.pack.name %></td>
  </tr>
  <tr>
    <td><strong>Employee</strong></td>
    <td><%= @schedule.employee.name %></td>
  </tr>
  <tr>
    <td><strong>Appointment</strong></td>
    <td><%= @schedule.appointment.to_formatted_s(:long_ordinal) %></td>
  </tr>
  <tr>
    <td><strong>Status</strong></td>
    <td><%= @schedule.status %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_schedule_path(@schedule, customer: @schedule.customer.id, pack: @schedule.pack.id, booking: @schedule.booking.id) %>
<%= link_to 'Back', schedules_path %>
