<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :contact_number %>
    <%= f.input :alternate_number %>
    <%= f.input :profession %>
    <%= f.input :experience %>
    <%= f.input :enterprise %>
    <%= f.input :age, as: :numeric %>
    <%= f.input :sex, collection: ["M","F"] %>
    <%= f.input :refferal_type, collection: ["Medium","Person"] %>
    <%= f.input :refferal %>
    <%= f.input :executive %>
    <%= f.input :email %>
    <%= f.input :vehicle_kind %>
    <%= f.input :vehicle_no %>
    <%= f.input :vehicle_brand %>
    <%= f.input :vehicle_model %>
    <%= f.input :vehicle_color %>
    <%= f.input :vehicle_gear_type %>
    <%= f.input :vehicle_no_of_gears %>
    <%= f.input :vehicle_other %>
    <%= f.input :cab_name %>
    <%= f.input :cab_agent %>
    <%= f.input :cab_rate %>
    <%= f.input :cab_total_distance %>
    <%= f.input :cab_total_fare %>
    <%= f.input :cab_kind %>
    <%= f.input :cab_no %>
    <%= f.input :cab_brand %>
    <%= f.input :cab_model %>
    <%= f.input :cab_color %>
    <%= f.input :cab_gear_type %>
    <%= f.input :cab_no_of_gears %>
    <%= f.input :home_address %>
    <%= f.input :office_address %>
    <%= f.input :location %>
    <%= f.input :current_provider %>
    <%= f.input :requirement %>
    <%= f.input :remarks %>
    <%= f.input :review %>
    <%= f.input :rating %>
    <%= f.input :suggestions %>
    <%= f.input :insights %>
    <%= f.input :to_do %>
    <%= f.input :last_communication %>
    <%= f.input :call_back %>
    <%= f.input :status %>
    <%= f.input :discounts %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
