<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :contact_number %>
    <%= f.input :address %>
    <%= f.input :no_of_cars, input_html: {value: f.object.no_of_cars || 1}, as: :numeric %>
    <%= f.input :ref %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
