<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<%= link_to 'New Customer', new_customer_path %>
<table class="responstable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact number</th>
      <th>Ref</th>
      <th>Booking status</th>
      <th>Last contacted</th>
      <th>Address</th>
      <th>No. of Cars</th>
      <th>Amount pending</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.contact_number %></td>
        <td><%= customer.ref %></td>
        <td><%= customer.booking_status %></td>
        <td><%= customer.last_contacted %></td>
        <td><%= customer.address %></td>
        <td><%= customer.no_of_cars %></td>
        <td><%= customer.amount_pending %></td>
        <td>
          <%= link_to 'Show', customer %>
          <%= link_to 'Edit', edit_customer_path(customer) %>
          <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @customers %>
