<p id="notice"><%= notice %></p>
<table class="responstable">
  <tr>
    <th><strong>Name</strong></th>
    <th><%= @customer.name %></th>
  </tr>
  <tr>
    <td><strong>Contact number</strong></td>
    <td><%= @customer.contact_number %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
