<p id="notice"><%= notice %></p>
<table class="responstable">
  <tr>
    <th><strong>Name</strong></th>
    <th><%= @pack.name %></th>
  </tr>
  <tr>
    <td><strong>Amount</strong></td>
    <td><%= @pack.amount %></td>
  </tr>
  <tr>
    <td><strong>No of appointments</strong></td>
    <td><%= @pack.no_of_appointments %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
